.Total-container {
  width: 100%;
  background: #040362;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-top: 3%;
  font-family: Inria;
  z-index: 2;
  text-decoration: none;
  color: white;
}

.Total-container > a {
  text-decoration: none !important;
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 3%;
}

.item {
  padding-top: 3%;
  color: white;
  text-align: center;
  border-left: solid 0.5px;
}

ul {
  list-style-type: none;
  font-size: 120%;
  padding: 0;

}

.sub > p {
  margin-top: 10%;
  font-family: Inria;
  background: #faff00;
  color: black;
  font-size: 130%;
  width: 80%;
  border-radius: 40px;
}

.sub {
  border: none;
}

.legal {
  font-family: Inria;
  color: white;
  padding-bottom: 3%;
}

.logo > img {
  object-fit: scale-down;
  width: 50%;
}

@media only screen and (max-width: 799px) {
  .sub > p {
    width: 150px;
    font-size: 90%;
    padding-left: 10%;
    padding-right: 10%;
  }

  ul {
    list-style-type: none;
    font-size: 70%;
  }
}

@media only screen and (max-width: 544px) {
  .sub > p {
    width: 80px;
  }

  .item {
    padding-right: 20px;
  }

  .legal {
    font-size: 50%;
  }
}

@media only screen and (max-width: 744px) {
  .item {
    padding-left: 10%;
  }

}

a {
  color: white;
  text-decoration: none;
}