p {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  column-gap: 3.125em;
  grid-template-columns: auto auto auto;
}

.Important-container {
  display: grid;
  grid-template-columns: 25% auto auto;
  padding-left: 3%;
  padding-top: 3%;
}

.Important-container a {
    text-decoration: none;
}

.grid-item {
  display: grid;
  text-align: center;
}

.breakingNews {
  background: #730000;
  height: 85%;
}

.breakingNews > p {
  overflow: auto;
  color: white;
  padding-left: 3%;
  font-family: Inria;
  font-size: 1.9em;
  padding-top: 7%;
  padding-right: 2%;
}

.breakingNews p:nth-of-type(2) {
  overflow: auto;
  color: white;
  padding-left: 3%;
  font-family: Inria;
  font-size: 1.5em;
  padding-top: 13%;
  padding-right: 2%;
  padding-bottom: 4%;
}

h2 {
  font-family: Inria;
  font-size: 1.900em;
  color: #FAFF00;
  padding-left: 3%;
  padding-top: 5%;
}

#breaking-img {
  width: 100%;
  height: 85%;
}

#breaking-img img {
  width: 100%;
  height: 100%;
}

.column-container {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 2.125em;
  margin-right: 3%;
}

/*---------------SIDE ITEM /BITCOIN CONTAINER/------------------*/
.SideItem {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  border: 1px solid #DCDCDC;
  width: 100%;
  height: 85%;
  text-decoration: none !important;
}


.SideItem > img {
	width: 100%;
}

.SideItem > p {
	font-family: Inria;
	font-size: 90% !important;
	padding-left: 2%;
    color: black;

}


#annoying-container {
	margin: 0 !important;
	width: 90%;
    height: auto;
	margin-right: 3%
}
/*----------------------------------RESPONSIVE TEXT--------------------*/

@media only screen and (max-width: 1879px) {/*----------1869px---------*/
 
	.breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.5em;
    padding-top: 10%!important;
    padding-right: 2%;
  }
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.4em;
    padding-top: 20%;
    padding-right: 2%;
    padding-bottom: 4%;
	margin-bottom: 1em;

  }
}

@media only screen and (max-width: 1762px) {/*----------1762px---------*/
  .breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.5em;
    padding-top: 7%;
    padding-right: 2%;
  }
	
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.2em;
    padding-top: 13%;
    padding-right: 2%;
    padding-bottom: 4%;
	margin-bottom: 1em;
  }
}

@media only screen and (max-width: 1600px) {/*----------1680px---------*/
  .breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.4em;
    padding-top: 7%;
    padding-right: 2%;
  }
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.2em;
    padding-top: 15%;
    padding-right: 2%;
    padding-bottom: 4%;
  }
}


@media only screen and (max-width: 1600px) {/*----------1600px---------*/
  .breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.3em;
    padding-top: 7%;
    padding-right: 2%;
  }
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.1em;
    padding-top: 15%;
    padding-right: 2%;
    padding-bottom: 4%;
	margin-bottom: 1em;

  }
}

@media only screen and (max-width: 1449px) {/*----------1449px---------*/
  .breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.1em;
    padding-top: 7%;
    padding-right: 2%;
  }
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1em;
    padding-top: 8%!important;
    padding-right: 2%;
    padding-bottom: 4%;
	margin-bottom: 1em;
  }
}



@media only screen and (max-width: 1240px) {/*----------1240px---------*/
  .breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 1.1em;
    padding-top: 1%!important;
    padding-right: 2%;
  }
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 0.7em;
    padding-top: 7%!important;
    padding-right: 2%;
    padding-bottom: 4%;
	margin-bottom: 1em;
  }
}




@media only screen and (max-width: 1090px) {/*----------990px----------*/
  .breakingNews > p {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 0.8em!important;
    padding-top: 2%!important;
    padding-right: 2%;
  }
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    padding-left: 3%;
    font-family: Inria;
    font-size: 0.6em!important;
    padding-top: 8%;
    padding-right: 2%;
    padding-bottom: 4%;
	margin-bottom: 1em!important;
  }

	h2 {
		font-size: 1.4em;
	}
    
    
}


/*-----------------------COLLASPED BANNER-----------------------------*/

@media only screen and (max-width: 800px) { /*----------800px---------*/
  .Important-container {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 3%!important;
    padding-top: 3%!important;
  }
  .breakingNews > p,
  .breakingNews p:nth-of-type(2) {
    overflow: auto;
    color: white;
    font-family: Inria;
    padding-top: 0!important;
    padding-bottom: 0!important;
    margin: 0!important;
      
  }
  .breakingNews > p {
    font-size: 2.5em!important;
  }
  .breakingNews p:nth-of-type(2) {
    font-size: 1.5em!important;
    padding-top: 5%!important;
	margin-bottom: 1em!important;
  }


/*--------------------DISABLE SIDE-ITEM "Bitcoin Container"----------*/
  .SideItem {
    display: none;
  }
	
  #breaking-img {
      width: 100%;
	  height: 85%;
	  object-fit: cover
  }
    
    .column-container {
        background: #730000;
        width: 96%;
        grid-template-columns: auto;
        column-gap:0;
        margin-bottom: 10%
    }
	
  .breakingNews {
    width: 96%;
    height: 350px
  }
@media only screen and (max-width: 628px) { /*----------628px---------*/

  }
  .breakingNews > p {
    font-size: 1.5em!important;
  }
  .breakingNews p:nth-of-type(2) {
    font-size: 1.2em!important;
    padding-top: 5%!important;
	margin-bottom: 1em!important;
  }

    
	
}
