.grid-container {
  display: grid;
  column-gap: 0px;
  row-gap: 100px;
  grid-template-columns: auto auto auto;
  justify-items: center;
  margin-bottom: 10%;
}

.grid-container a {
  display: grid;
  justify-items: center;
  text-decoration: none;
}

/*--------TITLE-----------------------------------*/

.title {
  color: #040362;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 3%;
}

/*--------GRID-ITEM-1-----------------------------*/
.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
  border: 1px solid #dcdcdc !important;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 78%;
  height: 500px;
}
@media only screen and (min-width: 1600px) {
  .grid-item2
  {
   border: 1px solid #dcdcdc !important;
   display: flex;
   flex-direction: column;
   align-items: left;
   width: 90%;
   height: 500px;
 }
  
}


.grid-item1 > p,
.grid-item2 > p,
.grid-item3 > p,
.grid-item4 > p,
.grid-item5 > p,
.grid-item6 > p {
  font-family: Inria;
  font-size: 140%;
  padding-left: 2%;
  overflow: none;
  color: black;
}

/*----------------OBJECT FITTING IMAGE-----------*/

.grid-item1 > img,
.grid-item2 > img,
.grid-item3 > img,
.grid-item4 > img,
.grid-item5 > img,
.grid-item6 > img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Ensures that images maintain aspect ratio and are cropped if necessary */
}

/*-------------------MEDIA QUERIES RESPONSIVE CSS-----------*/

/*---------------TEXT RESIZING-----------------*/

@media only screen and (max-width: 1020px) {
  /*----------1020px---------*/
  .grid-item1 > p,
  .grid-item2 > p,
  .grid-item3 > p,
  .grid-item4 > p,
  .grid-item5 > p,
  .grid-item6 > p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 798px) {
  /*----------798px---------*/
  .grid-item1 > p,
  .grid-item2 > p,
  .grid-item3 > p,
  .grid-item4 > p,
  .grid-item5 > p,
  .grid-item6 > p {
    font-size: 14px;
  }
}
/*---------------IMAGE RESIZING-----------------*/
@media only screen and (max-width: 799px) {
  /*----------799px---------*/
  .grid-item1 > img,
  .grid-item2 > img,
  .grid-item3 > img,
  .grid-item4 > img,
  .grid-item5 > img,
  .grid-item6 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .grid-container {
    column-gap: 15px;
  }
}

/*---------------IMAGE RESIZING-----------------*/
@media only screen and (max-width: 799px) {
  /*----------1032px---------*/
  .grid-item1 > img,
  .grid-item2 > img,
  .grid-item3 > img,
  .grid-item4 > img,
  .grid-item5 > img,
  .grid-item6 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/*-------------REIZE CONTAINER SIZE-----------*/
@media only screen and (max-width: 799px) {
  /*----------1032px---------*/
  .grid-item1,
  .grid-item2,
  .grid-item3,
  .grid-item4,
  .grid-item5,
  .grid-item6 {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 788px) {
  .grid-container {
    row-gap: 5%;
    padding-bottom: 10%;
  }
}


/*------------------390px------------- IPHONE 12 PRO*/
@media only screen and (max-width: 390px) {
  /*-----------------590px------------*/
  .grid-container {
    border-width: 0.5px;
  }

  .grid-item1 > p, 
  .grid-item2 > p, 
  .grid-item3 > p, 
  .grid-item4 > p, 
  .grid-item5 > p, 
  .grid-item6 > p {
    font-size: 11px;
  }

  .grid-item1, 
  .grid-item2, 
  .grid-item3, 
  .grid-item4, 
  .grid-item5, 
  .grid-item6 {
    font-size: 9px;
    padding-left: 3px;
    padding-right: 3px;
  }
}