.body-container {
    text-align: center;
    font-family: sans-serif;
}

.headcontainer {
    color: #040362;
    text-align: center;
    padding-top: 3%;
    border: solid 1px gray;
}

.Introduction {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.intro-image {
    scale: 0.3;
    opacity: 0.3;
    padding-left: 8%;
    border: 1px black;
}

.Intro-list {
    border-top: 1px black;
    border-bottom: 1px black;
    margin-bottom: 5%;
}

.Intro-list > ul {
    list-style-type: none;
    font-size: 120%;
    padding: 0;
    border: solid 1px #bebebe;
}

h4 {
    padding-top: 3%;
    font-size: 270%;
    margin-bottom: 5%;
}

h7 {
    padding-top: 10%;
    font-size: 270%;
}

h5 {
    padding-top: 5%;
    font-size: 270%;
    padding-bottom: 3%;
}

h6 {
    padding-top: 2%;
    font-size: 270%;
    padding-bottom: 3%;
}

h7 {
    padding-top: 2%;
    font-size: 270%;
    padding-bottom: 3%;
}

.grid-UX {
    display: grid;
    grid-template-columns: auto auto;
    border-color: black;
    column-gap: 3%;
}

.UX {
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid 1px #bebebe;
}

.UI {
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid 1px #bebebe;
}

#colortitle {
    font-size: 200%;
    padding-top: 5%;;
}

.color {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
    font-size: 200%;
    text-decoration: none;
}

#yellow {
    padding-top: 3%;
    padding-bottom: 3%;
    background: #faff00;
    color: black;
    border: solid 1px black;
    border-radius: 200px;
}

#blue {
    padding-top: 3%;
    padding-bottom: 3%;
    background: #040362;
    color:white;
    border: solid 1px black;
    border-radius: 200px;
}


.DesignTitle {
    font-size: 200%;
    text-decoration: underline;
}

.DesignItem {
    padding-top: 4%;
}

#VideoBanner {
    z-index: -1;
}

#Logo-banner {
    z-index: 1;
    color: #faff00;
    font-size: 300%;
    font-family: Inria;
    width: 30%;
    margin: auto;
    background-color: #040362;
    border-style: solid;
    border-color: #040362;
    border-radius: 0;
    animation: Logo-banner 8s infinite;
    padding-top: 2%;
    padding-bottom: 2%;
}

.Usability {
    border: solid 1px #bebebe;
    margin-top: 5%;
}
.Inspiration {
    border: solid 1px #bebebe;
    margin-top: 3%;
}

h8 {
    font-size: 200%;
    padding-top: 3%;
    margin-bottom: 5%;
}

.Learning {
    border: solid 1px #bebebe;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Evaluation1 {
    border: solid 1px #bebebe;
    margin-top: 5%;
    margin-bottom: 5%;
}

@keyframes Logo-banner {
    0% {
        border-radius: 0;
        width: 30%
    }

    50% {
        border-radius: 300px;
        width: 100%;

    }
    100% {
        border-radius: 0;
        width: 30%;
    }
}

.Resources {
    border: solid 1px #bebebe;
    margin-left: 20%;;
    width: 60%;
}

h9 {
    text-align: center;
    font-size: 200%;
    padding-top: 3%;
    padding-left: 10%;
}

.Resources > ol {
    padding-left: 10%;
}

.Resources a {
    text-decoration: underline;
    color: blue;
}

.References {
    margin-top: 5%;
    border: solid 1px #bebebe;
    text-align: center;
    width: 100%;
}

.References a {
    text-decoration: underline;
    color: blue;
}

.References  li {
        border: solid 1px #bebebe;
        list-style-type: none;
        margin-top: 3%;
        margin-right: 20%;
        margin-left: 20%;
}

.wireframe-container {
    border: solid 1px #bebebe;
}

.wireframeItem {
    border: solid 1px #bebebe;
}
.wireframeImage > p {
    text-align: center;
    font-size: 100%;
}

h11 {
    font-size: 200%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Evaluation2 {
    text-align: center;
    margin-top: 2%;
    border: solid 1px #bebebe;
    list-style-type: none;
}

.Evaluation2 ol {
    margin-top: 3%;
}

.example {
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 3%;
    justify-content: center;
    margin-bottom: 2%;
}

.exp1, .exp2 {
    text-align: left;
    background: black;
    font-family: monospace;
    color: greenyellow;
    padding: 5%;
}

.sitemap {
    text-align: center;
    font-size: 200%;
}

.Mockup {
    text-align: center;
    font-size:  300%;
    border: solid 1px #bebebe;
}

.Mockup > img {
    width: 70%;
}

.alternate {
    margin-left: 20%;
    margin-bottom: 5%;
}