/*-----------------BREAKING NEWS BANNER-----*/

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

.BreakingNewsBanner {
  display: grid;
  grid-template-columns: 10% 90%;
  column-gap: 3%;
  background: #730000;
  font-family: Inria;
  font-size: 130%;
  color: white;
}

.BreakingNews > p {
  text-align: left !important;
  margin-left: 10%;
  width: 1000%;
}

.BreakingNews {
  border-left: solid white 1px;
  padding-top: 1%;
  width: 9%;
}

.Live > p {
  text-align: right;
  padding-top: 17%;
  animation: blinker 1s infinite;
  font-family: monospace;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (max-width: 1000px) {
  .BreakingNewsBanner {
    font-size: 100%;
  }
}

@media only screen and (max-width: 777px) {
  .BreakingNewsBanner {
    font-size: 80%;
  }
}


@media only screen and (max-width: 619px) {
  .BreakingNewsBanner {
    font-size: 60%;
    text-align: center;
  }
}

@media only screen and (max-width: 462px) {
  .BreakingNewsBanner {
    font-size: 50%;
    text-align: center;

  }
}