h2 {
    font-family: Inria;
    font-size: 250%;
    padding-left: 11%;
    padding-right: 11%;
}

.HeadlineContainer {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.HeadlineContainer > p {
    font-family: Inria;
    margin: 0;
    padding: 0;
    padding-left: 11%;
    font-size: 80%;
    text-decoration: none;
}

.Article {
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 5%;
    font-family: Inria;
    font-size: 120%
}

#p1 {
    color: #040362;
}

.header-image > img {
    margin-left: 0%;
    width: 70%;
    height: auto;
    margin-left: 38%;
}

.header-image {
    margin-top: 4%;
    width: 65%;
    height: auto;
    padding-bottom: 3%;
}

@media screen and (max-width: 982px) {
    h2 {
    font-size: 200%;
}
    .HeadlineContainer > p {
    font-size: 60%;
}
    #p1,
    #p2,
    #p3,
    #p4 {
        font-size: 80%
    }
}

@media screen and (max-width: 580px) {
    h2 {
    font-size: 160%;
}
    .HeadlineContainer > p {
    font-size: 50%;
}
    #p1,
    #p2,
    #p3,
    #p4 {
        font-size: 60%;
        font-weight: 130;
    }


}

@media screen and (max-width: 420px) {
    h2 {
    font-size: 120%;
}
    .HeadlineContainer > p {
    font-size: 50%;
}
    #p1,
    #p2,
    #p3,
    #p4 {
        font-size: 60%
    }


}

 