/*-----------------BREAKING NEWS BANNER-----*/

a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: none;
}

.BreakingNewsBanner {
	display: grid;
	grid-template-columns: 10% 90%;
	column-gap: 3%;
	background: #730000;
	font-family: Inria;
    font-size: 130%;
	color: white;
}

.BreakingNews > p {
    text-align: left !important;
    margin-left: 1%;
}


.BreakingNews {
    border-left: solid white 1px;
    padding-top: 1%
}


.Live > p {
    text-align: right;
    padding-top: 17%;
    animation: blinker 1s infinite;
    font-family: monospace
}

@keyframes blinker {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

/*------------------------------------------*/

h2 {
    font-family: Inria;
    font-size: 250%;
    padding-left: 11%;
    padding-right: 11%;
}

.HeadlineContainer {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.HeadlineContainer > p {
    font-family: Inria;
    margin: 0;
    padding: 0;
    padding-left: 11%;
    font-size: 80%;
    text-decoration: none;
}

.Article {
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 5%;
    font-family: Inria;
    font-size: 120%
}

#p1 {
    color: #040362;
}

.header-image > img {
    margin-left: 0%;
    width: 70%;
    height: auto;
    margin-left: 38%;
}

.header-image {
    margin-top: 4%;
    width: 65%;
    height: auto;
    padding-bottom: 3%;
}

@media screen and (max-width: 982px) {
    h2 {
    font-size: 200%;
}
    .HeadlineContainer > p {
    font-size: 60%;
}
    #p1,
    #p2,
    #p3,
    #p4 {
        font-size: 80%
    }
}

@media screen and (max-width: 580px) {
    h2 {
    font-size: 160%;
}
    .HeadlineContainer > p {
    font-size: 50%;
}
    #p1,
    #p2,
    #p3,
    #p4 {
        font-size: 60%;
        font-weight: 130;
    }


}

@media screen and (max-width: 420px) {
    h2 {
    font-size: 120%;
}
    .HeadlineContainer > p {
    font-size: 50%;
}
    #p1,
    #p2,
    #p3,
    #p4 {
        font-size: 60%
    }


}



#Title {
    margin-top: 1%;
    margin-bottom: 1%;
    border-top: solid 0.5px;

}

#Title > p {
    padding-top: 1%;
    font-family: Inria;
    font-size: 200%;
    text-align: center
    
}

.grid-container {
	display: grid;
	column-gap: 3%;
    row-gap:100px;
	grid-template-columns: auto auto auto;
	justify-items: center;
    padding-bottom: 5%;
}

/*--------TITLE-----------------------------------*/

.title {
    color: #040362;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 3%;
}

/*--------GRID-ITEM-1-----------------------------*/
.grid-item1 {
  border: 1px solid #DCDCDC!important;
  display: flex;
  flex-direction: column;
  align-items: left; 
  width: 78%;
  height: 500px;
 
}


.grid-item1 > p {
	font-family: Inria;
	font-size: 130%;
	padding-left: 2%;
	overflow: none;
}

/*--------GRID-ITEM-2-----------------------------*/

.grid-item2 {
  border: 1px solid #DCDCDC!important;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 78%;
  height: 500px;
 
}



.grid-item2 > p {
	font-family: Inria;
	font-size: 130%;
	padding-left: 2%;
	overflow: none;
}

/*--------GRID-ITEM-3-----------------------------*/

.grid-item3 {
  border: 1px solid #DCDCDC!important;
  display: flex;
  flex-direction: column; 
  align-items: left; 
  width: 78%;
  height: 500px;
 
}


.grid-item3 > p {
	font-family: Inria;
	font-size: 130%;
	padding-left: 2%;
	overflow: none;
}


/*----------------OBJECT FITTING IMAGE-----------*/

.grid-item1 > img,
.grid-item2 > img,
.grid-item3 > img
{
	width: 100%;
	height: 300px;
	object-fit: cover; /* Ensures that images maintain aspect ratio and are cropped if necessary */
}









/*-------------------MEDIA QUERIES RESPONSIVE CSS-----------*/
    
/*---------------TEXT RESIZING-----------------*/

@media only screen and (max-width: 1020px) { /*----------1020px---------*/
  .grid-item1 > p,
  .grid-item2 > p,
  .grid-item3 > p,
      font-size: 18px
  
    
    
    #FintechTitle > p {
    font-size: 280%
    
}

}
    
@media only screen and (max-width: 798px) { /*----------798px---------*/
  .grid-item1 > p,
  .grid-item2 > p,
  .grid-item3 > p{
      font-size: 14px
  }
    
    #FintechTitle > p {
    font-family: Inria;
    font-size: 250%
    
}
    
}
/*---------------IMAGE RESIZING-----------------*/
@media only screen and (max-width: 799px) { /*----------1032px---------*/
  .grid-item1 > img,
  .grid-item2 > img,
  .grid-item3 > img{
      
    width: 100%;
	height: auto;
	object-fit: cover;
 
  }
    
}
    
/*---------------IMAGE RESIZING-----------------*/
@media only screen and (max-width: 799px) { /*----------1032px---------*/
  .grid-item1 > img,
  .grid-item2 > img,
  .grid-item3 > img {
      
    width: 100%;
	height: auto;
	object-fit: cover;
 
  }
    
}

/*-------------REIZE CONTAINER SIZE-----------*/
@media only screen and (max-width: 799px) { /*----------1032px---------*/
  .grid-item1,
  .grid-item2,
  .grid-item3 {
      width: 100%;
      height: auto
  }
@media only screen and (max-width: 788px) {/*-----------------590px------------*/
.grid-container {
    row-gap: 5%;
    padding-bottom: 10%;
    }
    
#FintechTitle > p {
     font-family: Inria;
    font-size: 200%
    
}
}
    
}

 