.grid-container {
  display: grid;
  column-gap: 3%;
  grid-template-columns: auto auto auto;
  justify-items: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 400px;
}

.grid-item {
  width: 100%;
  border-style: solid;
  border-color: #dcdcdc;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
}

#Product1,
#Product2,
#Product3 {
  font-family: Inria;
  font-size: 200%;
  color: #040362;
  border-color: #dcdcdc;
}

.select {
  width: 50%;
  font-family: Inria;
  color: #faff00;
  background: #040362;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 200%;
}

.select p:hover {
  color: #040362;
  background: #faff00;
}

.ProductDetails {
  font-family: Inria;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 300%;
  font-family: Inria;
  color: #040362;
  z-index: 1;
}

h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#details {
  font-family: Inria;
  text-align: center;
  font-size: 150%;
  margin-bottom: 3%;
  opacity: 60%;
}

#GPU {
  z-index: -1;
  scale: 0.3;
  position: relative;
  bottom: 200%;
  right: 60%;
  transform: rotate(310deg);
  animation: gpu 5s infinite;
  opacity: 0.3;
}

@keyframes gpu {
  0% {
    margin-top: 0px;
    transform: rotate(310deg);
  }

  50% {
    margin-top: 50px;
    transform: rotate(330deg);
  }

  100% {
    margin-top: 0px;
    transform: rotate(310deg);
  }
}

#AI {
  z-index: -1;
  scale: 0.3;
  position: relative;
  bottom: 220%;
  left: 120%;
  animation: AI 5s infinite;
  opacity: 0.3;
}

@keyframes AI {
  0% {
    transform: rotate(310deg);
  }

  50% {
    transform: rotate(330deg);
  }

  100% {
    transform: rotate(310deg);
  }
}

#form {
  
}