.grid-container {
  display: grid;
  column-gap: 3%;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 400px;
}

.grid-item {
  width: 100%;
  border-style: solid;
  border-color: #dcdcdc;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
}

#Product1,
#Product2,
#Product3 {
  font-family: Inria;
  font-size: 200%;
  color: #040362;
  border-color: #dcdcdc;
}

.select {
  width: 50%;
  font-family: Inria;
  color: #faff00;
  background: #040362;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 200%;
}

.select p:hover {
  color: #040362;
  background: #faff00;
}

.ProductDetails {
  font-family: Inria;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 300%;
  font-family: Inria;
  color: #040362;
  z-index: 1;
}

h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#details {
  font-family: Inria;
  text-align: center;
  font-size: 150%;
  margin-bottom: 3%;
  opacity: 60%;
}

#GPU {
  z-index: -1;
  scale: 0.3;
  position: relative;
  bottom: 200%;
  right: 60%;
  transform: rotate(310deg);
  animation: gpu 5s infinite;
  opacity: 0.3;
}

@keyframes gpu {
  0% {
    margin-top: 0px;
    transform: rotate(310deg);
  }

  50% {
    margin-top: 50px;
    transform: rotate(330deg);
  }

  100% {
    margin-top: 0px;
    transform: rotate(310deg);
  }
}

#AI {
  z-index: -1;
  scale: 0.3;
  position: relative;
  bottom: 220%;
  left: 120%;
  animation: AI 5s infinite;
  opacity: 0.3;
}

@keyframes AI {
  0% {
    transform: rotate(310deg);
  }

  50% {
    transform: rotate(330deg);
  }

  100% {
    transform: rotate(310deg);
  }
}


/*--------------ACCORDION----------------*/

.FAQ-container {
  padding-top: 13%;
  align-items: center;
  margin-bottom: 20%;
}

.accordianFAQ {
  width: 50%;
  margin: auto;
}

h3 {
  text-align: center;
  font-family: Inria;
  font-size: 300%;
  padding-bottom: 4%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #040362;
  color: #faff00;
  cursor: pointer;
  padding: 4%;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
  outline:#faff00;
  transition: 0.7s;
  font-family: Inria;
  font-size: 130%;
  border: #dcdcdc;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background: #faff00;
  color: #040362;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: Inria;
}


@media only screen and (max-width: 1364px) {
  #details {
    font-size: 100%;
  }

  h2 {
    font-size: 190%;
  }

  .accordion {
    font-size: 120%;
  }
}

@media only screen and (max-width: 942px) {
  h2 {
    font-size: 170%;
  }

  .select {
    font-size: 130%;
  }

  #details {
    font-size: 100%;
  }

  #GPU {
    display: none;
  }

  #AI {
    display: none;
  }

  .grid-item {
    height: 330px;
  }

  h3 {
    font-size: 200%;
  }
}

@media only screen and (max-width: 624px) {
  h2 {
    font-size: 150%;
  }

  #details {
    font-size: 80%;
  }

  .select {
    font-size: 130%;
  }
  .ProductDetails {
    font-size: 80%;
  }

  #Product1,
  #Product2,
  #Product3 {
    font-size: 130%;
  }

  .grid-item > p {
    font-size: 90%;
  }

  h3 {
    font-size: 200%;
  }

  .accordion {
    font-size: 115%;
  }
}

@media only screen and (max-width: 582px) {
  h2 {
    font-size: 120%;
  }

  #details {
    font-size: 60%;
  }

  .select {
    font-size: 100%;
  }
  .ProductDetails {
    font-size: 60%;
  }

  #Product1,
  #Product2,
  #Product3 {
    font-size: 130%;
  }

  .grid-item > p {
    font-size: 70%;
  }

  .grid-item {
    height: 300px;
  }

  h3 {
    font-size: 150%;
  }

  .accordion {
    font-size: 100%;
  }
}

@media only screen and (max-width: 439px) {
  h2 {
    font-size: 100%;
  }

  #details {
    font-size: 70%;
    padding-bottom: 10%;
  }

  .select {
    font-size: 100%;
  }
  .ProductDetails {
    font-size: 60%;
  }

  #Product1,
  #Product2,
  #Product3 {
    font-size: 130%;
  }

  .grid-item > p {
    font-size: 70%;
  }

  .grid-item {
    height: 270px;
  }

  .select {
    font-size: 80%;
  }

  h3 {
    font-size: 100%;
  }
}

/*-------IPHONE 12-------------*/
@media only screen and (max-width: 390px) {
  #details {
    font-size: 90%;
    padding-left: 7px;
    padding-right: 7px;
  }
}

